<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722200202685-tv8dao6t402o8l0igd181eb53714i5iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722200202685-tv8dao6t402o8l0igd181eb53714i5iq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722200202685-c11rrtcdgvp3mtu5gegdbji2enphjojb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0je97h_sO8QwyHBG-rmOskvH5ybnkM6M</string>
	<key>GCM_SENDER_ID</key>
	<string>722200202685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.counterexample.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cins467-f22</string>
	<key>STORAGE_BUCKET</key>
	<string>cins467-f22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722200202685:ios:3ae9864b1e5433082896d4</string>
</dict>
</plist>